.diamond:before {
  content: " ";
  display: block; }

.circle {
  background-color: pink;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50px; }

.square {
  background-color: orange;
  display: block;
  height: 40px;
  width: 40px; }

.round-square {
  background-color: blue;
  display: block;
  height: 50px;
  width: 50px; }

.pill {
  background-color: purple;
  display: block;
  height: 30px;
  width: 100px;
  border-radius: 30px; }

.triangle {
  background-color: transparent;
  display: block;
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 20px 20px;
  border-top-color: black; }

.diamond {
  margin-top: 20px;
  background-color: transparent;
  display: block;
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 20px 35px;
  border-top-color: brown; }
  .diamond:before {
    margin-top: -60px;
    margin-left: -35px;
    border: solid transparent;
    border-width: 20px 35px;
    border-bottom-color: brown; }
